<main class="container">
    <section class="access_page_header">
        <h1 class="page_title">User Access</h1>
        <h2 class="page_subtitle"><%= @quiz.name %></h2>

        <% if flash.has?(:message) %>
            <% if flash[:success] == true %>
                <p class="flash_message_success"><%= flash[:message] %></p>
            <% else %>
                <p class="flash_message_failure"><%= flash[:message] %></p>
            <% end %>
        <% end %> 
    </section>
    <section class="access_page_body">
        <form action="/quizzes/<%= @quiz.id %>/access" method="POST">
            <input type="hidden" name="_method" value="PATCH">
            <h2>The following users have access to this quiz: </h2>
                <div class="access_table">
                    <% if @access.empty? %>
                        <p>You haven't given access anyone access to this quiz yet.  Add an email with the field below:</p>
                    <% end %>
                    <% @access.each do |user_access| %>
                        <div class="access_table_row">
                            <div class="access_email">
                                <%= user_access.user.email %>
                            </div>
                            <div class="access_admin">
                                <span>
                                    <input 
                                        type="hidden" 
                                        name="users[<%= user_access.user.email %>]" 
                                        value="false"
                                    >
                                    <input 
                                        type="checkbox" 
                                        name="users[<%= user_access.user.email %>]" 
                                        value="true" <%= 'checked' if user_access.admin == true %>
                                    >
                                        &nbsp admin
                                </span>
                                <span>
                                    <input 
                                        type="checkbox" 
                                        name="users[<%= user_access.user.email %>]" 
                                        value="delete"
                                    > 
                                        &nbsp delete?
                                </span>
                            </div>
                        </div>
                    <% end %>
                </div>
            <div>
                <input type="submit" class="button-green" value="Save Changes">
            </div>
        </form>


        <form action="/quizzes/<%= @quiz.id %>/access" method="POST">
            <div class="add_access">
                <div class="add_user">
                    <label for="new_access">Add a User:</label>
                    <input type="text" id="new_access" name="email">
                </div>
                <div class="add_admin">
                    <input type="checkbox" id="admin" name="admin" value="true">
                    <label for="admin">Make Administrator?</label>
                </div>
            </div>    
            <div>
                <input type="submit" class="button-green" value="Add User">
            </div>
        </form>
    </section>
    <section class="access_page_footer">
        <a href="/quizzes/<%= @quiz.id %>/edit">
            <input type="submit" class="button-yellow" value="Return to Edit Page">
        </a>

        <a href="/quizzes/<%= @quiz.id %>">
            <input type="submit" value="View Quiz" class="button-green">
        </form>

        <a href="/users/<%= current_user.id %>">
            <input type="submit" value="Return to My Quizzes" class="button-red">
        </a>
    </section>
</main>