<form action="/quizzes/<%= @quiz.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <main class="container">
        <section class="edit_page_header">
            <h1 class="page_title">Edit Quiz</h1>
        </section>
        <section class="edit_page_body">
            <div class="quiz_details_card">
                <h2>Quiz Details</h2>
                <div>
                    <label for="quiz_name">Quiz Name:</label>
                    <input 
                        type="text" 
                        id="quiz_name" 
                        name="quiz[name]" 
                        value="<%= @quiz.name %>" 
                        required
                    >   
                </div>
                <br>
                <div>
                    <label for="quiz_description">Quiz Description:</label>
                    <textarea 
                        id="quiz_description" 
                        name="quiz[description]" 
                        required
                    ><%= @quiz.description %></textarea>
                </div>
                <br>
                <div>   
                    <label for="quiz_category">Select a Category:</label>
                    <select id="quiz_category" name="quiz[category]" required>
                        <% @categories.each do |category|%>
                            <option 
                                value="<%= category.id %>" 
                                <%= 'selected' if category.id == @quiz.category_id %>
                            >
                                <%= category.name %>
                            </option>
                        <% end %>
                    </select>
                </div>
                <div>
                    <input 
                        type="checkbox" 
                        id="quiz_public" 
                        name="quiz[public]" 
                        value="true" 
                        <%= 'checked' if @quiz.public == true %>
                    > 
                    <label for="quiz_public">Public Quiz</label>  
                </div>
                <% if @quiz.is_author?(current_user.email) %>
                    <a href="/quizzes/<%= @quiz.id %>/access">
                        <button type="button" class="button-yellow">Edit User Access</button>
                    </a>
                <% end %>
            </div>
            <br>
            <div>
                <h2 class="page_subtitle">Questions</h2>
            </div>

            <div class="questions_card">
                <% @quiz.questions.each do |question| %>
                    <article id="q<%= question.order %>" class="question_article">
                        <div class="question_title_div">
                            <h2>Question <%= question.order %>:</h2>
                            <% if question.order > 1 %>
                                <button 
                                    type="button" 
                                    id="q<%= question.order %>_delete_button" 
                                    class="card_delete_button" 
                                    onclick="deleteAndRenumberQuestions(<%= question.order %>)"
                                >
                                    X
                                </button>
                            <% end %>
                        </div>
                        <div>
                            <label 
                                for="q<%= question.order %>_kind" 
                                class="question_kind_label"
                            >
                                Question Type:
                            </label>
                            <select 
                                id="q<%= question.order %>_kind" 
                                class="question_kind_input" 
                                name="questions[][kind]" 
                                value="<%= question.kind %>"
                            >
                                <option 
                                    value="mc_many" <%= 'selected' if question.kind == 'mc_many' %>
                                >
                                    Multiple Choice: Many Correct Answers
                                </option>
                                <option 
                                    value="mc_one" <%= 'selected' if question.kind == 'mc_one' %>
                                >
                                    Multiple Choice: One Correct Answer
                                </option>
                            </select>
                        </div>
                        <br>
                        <div>
                            <label 
                                for="q<%= question.order %>_content" 
                                class="question_content_label"
                            >
                                Question:
                            </label>
                            <input 
                                type="text" 
                                id="q<%= question.order %>_content" 
                                class="question_content_input" 
                                name="questions[][content]" 
                                value="<%= question.content %>"
                                required
                            >
                        </div>
                        <br>
                        <div id="q<%= question.order %>_answers" class="answers_container">
                            <% question.answers.each_with_index do |answer, index| %>
                                <div id="q<%= question.order %>_a<%= index + 1 %>" class="answer_div">
                                    <div class="answer_title_div">
                                    <h3>Answer <%= index + 1 %>:</h3>
                                    <% if index > 0 %>
                                        <button 
                                            type="button" 
                                            id="q<%= question.order %>_a<%= index + 1 %>_delete_button" 
                                            class="card_delete_button" 
                                            onclick="deleteAnswer(<%= question.order %>, <%= index + 1 %>)"
                                        >
                                            X
                                        </button>
                                    <% end %>
                                    </div>
                                    <div>
                                        <input 
                                            type="text" 
                                            id="q<%= question.order %>_a<%= index + 1 %>_content" 
                                            class="answer_content_input" 
                                            name="questions[][answers][][content]" 
                                            value="<%= answer.content %>"
                                        >
                                    </div>
                                    <div>
                                        <label 
                                            for="q<%= question.order %>_a<%= index + 1 %>_correct" 
                                            class="answer_correct_label"
                                        >
                                            Correct Answer?
                                        </label>
                                        <input 
                                            type="checkbox" 
                                            id="q<%= question.order %>_a<%= index + 1 %>_correct" 
                                            class="answer_correct_input" 
                                            name="questions[][answers][][correct]" 
                                            value="true" <%= 'checked' if answer.correct == true %>
                                        >
                                    </div>
                                </div>
                            <% end %>
                        </div>  
                        <div class="add_answer_div">
                            <button 
                                type="button" 
                                id="q<%= question.order %>_add_answer" 
                                class="button-green"
                                onclick="addAnswer(<%= question.order %>)"
                            >
                                Add Answer
                            </button>
                        </div>
                        <br>
                        <div>
                            <label 
                                for="q<%= question.order %>_limit" 
                                class="question_limit_label"
                            >
                                Answer Limit:
                            </label>
                            <input 
                                type="number" 
                                id="q<%= question.order %>_limit" 
                                class="question_limit_input" 
                                name="questions[][limit]" 
                                value="<%= question.limit || question.answers.length %>" 
                                max="<%= question.answers.length %>" 
                                min="1"
                            >
                        </div>
                    </article>
                <% end %>
            </div>
        </section>
            
        <section class="edit_page_footer">
            <div>
                <button 
                    type="button" 
                    id="add_question" 
                    class="button-green" 
                    onclick="addQuestion()"
                >
                    Add Question
                </button>
            </div>
            <br>
            <div>
                <input 
                    type="submit" 
                    class="button-yellow button-lg" 
                    value="Update Quiz"
                >
            </div>
            <div>
                <a href="/users/<%= current_user.id %>">
                    <button type="button" class="button-red">Cancel and Exit</button>
                </a>
            </div>
        </section>
    </main>
</form>


<script type="text/javascript" src="/javascripts/createandedit.js"></script>