<main class="container">
    <section class="history_header">
        <h1 class="page_title">QUIZ HISTORY<h1>
        <h2 class="page_subtitle"><%= current_user.name %> </h2>
    </section>
    <section class="history_body">
        <% if current_user.results.empty? %>
            <p>
                You have not taken any quizzes yet!
            </p>
        <% end %>
            <% current_user.results.reverse.each_with_index do |result, index| %>
                <div>
                     <span class="quiz_name">
                        <%= result.quiz.name %>
                    </span>
                </div>
                <div class="history_row">
                    <span class="quiz_date">
                        <%= result.date %>
                    </span>
                    <span class="quiz_score">
                        <%= result.score %>%
                    </span>
                </div>
                <% if index < current_user.results.length - 1 %>
                    <hr>
                <% end %>
            <% end %>
    </section>
    <section class="history_footer">
        <a href="/users/<%= current_user.id %>">
            <button class="button-green" id="history_return_button">Back To My Quizzes</button>
        </a>
    </section>
</main>