<form action="/quizzes" method="POST" autocomplete="off">
    <main class="container">
        <section class="new_page_header">
            <h1 class="page_title">CREATE A NEW QUIZ</h1>
            <div>
                <% if flash.has?(:message) %>
                    <% if flash[:success] == true %>
                        <p class="flash_message_success"><%= flash[:message] %></p>
                    <% else %>
                        <p class="flash_message_failure"><%= flash[:message] %></p>
                    <% end %>
                <% end %> 
            </div>
        </section>
        <section class="new_page_body">
            <div class="quiz_details_card">
                <h2>Quiz Details</h2>
                <div>
                    <label for="quiz_name">Enter a name for your quiz:</label>
                    <input 
                        type="text" 
                        id="quiz_name" 
                        name="quiz[name]" 
                        required
                        <% if @test_quiz %>
                            value="<%= @test_quiz.name %>"
                        <% end %>
                    >   
                </div>
                <br>
                <div>
                    <label for="quiz_description">Enter a description:</label>
                    <textarea 
                        id="quiz_description" 
                        name="quiz[description]" 
                        required
                    ></textarea>
                </div>
                <br>
                <div>   
                    <label for="quiz_category">Select a Category:</label>
                    <select 
                        id="quiz_category" 
                        name="quiz[category]" 
                        required
                    >
                        <option value="">--Choose an Option--</option>
                        <% @categories.each do |category|%>
                            <option value="<%= category.id %>"><%= category.name %></option>
                        <% end %>
                    </select>
                </div>
                <div>
                    <label for="quiz_public">Make Quiz Public?</label>  
                    <input 
                        type="checkbox" 
                        id="quiz_public" 
                        name="quiz[public]" 
                        value="true"
                    > 
                </div>
                <br>
            </div>
            <br>
            <div>
                <h2 class="page_subtitle">Questions</h2>
            </div>
                
            <div class="questions_card">
                <article id="q1" class="question_article">
                    <h2>Question 1:</h2>
                    <div>
                        <label for="q1_kind" class="question_kind_label">
                            Select the question type:
                        </label>
                        <select 
                            id="q1_kind" 
                            class="question_kind_input" 
                            name="questions[][kind]"
                            onchange="setLimit(1)"
                        >
                            <option value="mc_one">One Correct Answer</option>
                            <option value="mc_many">Many Correct Answers</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <label 
                            for="q1_content" 
                            class="question_content_label"
                        >
                            Enter the Question:
                        </label>
                        <input 
                            type="text" 
                            id="q1_content" 
                            class="question_content_input" 
                            name="questions[][content]" 
                            required
                        >
                    </div>
                    <br>
                    <div id="q1_answers" class="answers_container">
                        <div id="q1_a1" class="answer_div">
                            <h3>Answer 1:</h3>
                            <div>
                                <input 
                                    type="text" 
                                    id="q1_a1_content" 
                                    class="answer_content_input" 
                                    name="questions[][answers][][content]" 
                                    required
                                >
                            </div>
                            <br>
                            <div id="q1_a1_answer_correct_div" class="answer_correct_div">
                                <div>
                                    <label 
                                        for="q1_a1_correct" 
                                        class="answer_correct_label"
                                    >
                                        Correct Answer?
                                    </label>
                                    <input 
                                        type="checkbox" 
                                        id="q1_a1_correct" 
                                        class="answer_correct_input q1_correct_input" 
                                        name="questions[][answers][][correct]" 
                                        value="true"
                                        onclick="setLimit(1)"
                                    >
                                </div>
                                <div id="q1_a1_add_comment_div">
                                    <button 
                                        type="button" 
                                        id="q1_a1_add_comment" 
                                        class="comment_button add_comment_button" 
                                        onclick="addComment(1,1)"
                                    >
                                        Add Comment
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="q1_a2" class="answer_div">
                            <h3>Answer 2:</h3>
                            <div>
                                <input 
                                    type="text" 
                                    id="q1_a2_content" 
                                    class="answer_content_input" 
                                    name="questions[][answers][][content]" 
                                    required
                                >
                            </div>
                            <br>
                            <div id="q1_a2_answer_correct_div" class="answer_correct_div">
                                <div>
                                    <label 
                                        for="q1_a2_correct" 
                                        class="answer_correct_label"
                                    >
                                        Correct Answer?
                                    </label>
                                    <input 
                                        type="checkbox" 
                                        id="q1_a2_correct" 
                                        class="answer_correct_input q1_correct_input" 
                                        name="questions[][answers][][correct]" 
                                        value="true"
                                        onclick="setLimit(1)"
                                    >
                                </div>
                                <div id="q1_a2_add_comment_div" class="add_comment_div">
                                    <button 
                                        type="button" 
                                        id="q1_a2_add_comment" 
                                        class="comment_button add_comment_button" 
                                        onclick="addComment(1, 2)"
                                    >
                                        Add Comment
                                    </button>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="add_answer_div">
                        <button 
                            type="button" 
                            id="q1_add_answer" 
                            class="button button-green" 
                            onclick="addAnswer(1)"
                        >
                            Add an Answer
                        </button>
                    </div>
                    <br>
                    <div>
                        <label 
                            for="q1_limit" 
                            class="question_limit_label"
                        >
                            Answer Limit:
                        </label>
                        <input 
                            type="number" 
                            id="q1_limit" 
                            class="question_limit_input" 
                            name="questions[][limit]" 
                            value="2" 
                            max="2" 
                            min="2"
                        >
                    </div>
                    <br>
                </article>
            </div>
            <br>
        </section>
        <section class="new_page_footer">
            <div>
                <button 
                    type="button" 
                    class="button button-green" 
                    id="add_question" 
                    onclick="addQuestion()"
                >
                    Add a Question
                </button>
            </div>
            <div>
                <input 
                    type="submit" 
                    class="button button-yellow button-lg" 
                    value="Complete Quiz"
                >
            </div>
            <div>
                <a href="/users/<%= current_user.id %>">
                    <button 
                        type="button" 
                        class="button button-red"
                    >
                        Cancel and Exit
                    </button>
                </a>
            </div>
        </section>
    </main>
</form>

<script type="text/javascript" src="/javascripts/createandedit.js"></script>