<form action="/quizzes/<%= @quiz.id %>/play" method="POST">
    <main class="container">
        <section class="play_page_header">
            <h1 class="page_title"><%= @quiz.name %></h1>
            <h2 class="page_subtitle">Created by: <%= @quiz.author.name %></h2>
        </section>
        <section class="play_page_body">
            <% @question_hashes.each do |hash| %>
                <article class="play_questions">
                    <% hash.each do |question, answers| %>
                        <h2>
                            <%= question.content %>
                        </h2>
                        <br>
                        <% if question.kind == "mc_one" %>  
                            <% answers.each_with_index do |answer, index| %>
                                <input 
                                    type="radio" 
                                    id="answers[<%= question.order %>]" 
                                    name="answers[<%= question.order %>][]" 
                                    value="<%= answer.id %>"
                                    required
                                >
                                <span>&nbsp<%= answer.content %></span>
                                <br>
                                <% if index < answers.length - 1 %>
                                    <hr>
                                <% end %>
                            <% end %>
                        <% elsif question.kind == "mc_many" %> 
                            <% answers.each_with_index do |answer, index| %>
                                <input 
                                    type="checkbox" 
                                    name="answers[<%= question.order %>][]" 
                                    value="<%= answer.id %>"
                                    class="cb<%= question.order %>"
                                    onclick="checkboxValidate('cb<%= question.order %>')"
                                    required
                                >
                                <label for="answers[<%= question.order %>]"> <span>&nbsp<%= answer.content %></span> </label>
                                <br>
                                <% if index < answers.length - 1 %>
                                    <hr>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                </article>
            <% end %>
        </section>
        <section class="play_page_footer">
            <button class="button button-green button-lg">SUBMIT ANSWERS</button>
        </section>
    </main>
</form>

<script type="text/javascript" src="/javascripts/playvalidate.js"></script>