<h1><%= @quiz.name %></h1>
<h2>Created by: <%= @quiz.author.name %></h1>
<form action="/quizzes/<%= @quiz.id %>/play" method="POST">
    <ul>
        <% @questions.each do |question| %>
            <li>
            <%= question.content %>
            </li>
            <% if question.kind == "mc_one" %>  
                <% question.answers.each do |a| %>
                    <input type="radio" id="answers[question<%= @counter %>]" name="answers[question<%= @counter %>]" value="<%= a.content %>">
                    <%= a.content %>
                    <br>
                <% end %>
                <br>
            <% elsif question.kind == "mc_many" %> 
                <% checkbox_counter = 1%>
                <% question.answers.each do |a| %>
                    <input type="checkbox" name="answers[question<%= @counter %>][answer<%= checkbox_counter %>]" value="<%= a.content %>">
                    <label for="answers[question<%= @counter %>][answer<%= checkbox_counter %>]"> <%= a.content %> </label>
                    <% checkbox_counter += 1 %>
                    <br>
                <% end %>
                <br>
            <% elsif question.kind == "fill_in" %>
                <label for="answers[question<%= @counter %>]">Your Answer:</label>
                <input type="text" name="answers[question<%= @counter %>]" id="answers[question<%= @counter %>]">
                <br>
            <% end %>
            <% @counter += 1 %>
            <br>
        <% end %>
    </ul>
    <button id="submitAnswers">SUBMIT ANSWERS</button>
</form>