<h1><%= @quiz.name %></h1>
<h2>Created by: <%= @quiz.author.name %></h1>
<form action="/quizzes/<%= @quiz.id %>/play" method="POST">
    <ul>
        <% @question_hashes.each do |hash| %>
            <% hash.each do |question, answers| %>
                <li>
                    <%= question.content %>
                </li>
                <% if question.kind == "mc_one" %>  
                    <% answers.each do |answer| %>
                        <input type="radio" id="answers[<%= question.order %>]" name="answers[<%= question.order %>][]" value="<%= answer.id %>">
                        <%= answer.content %>
                        <br>
                    <% end %>
                    <br>
                <% elsif question.kind == "mc_many" %> 
                    <% answers.each do |answer| %>
                        <input type="checkbox" name="answers[<%= question.order %>][]" value="<%= answer.id %>">
                        <label for="answers[<%= question.order %>]"> <%= answer.content %> </label>
                        <br>
                    <% end %>
                    <br>
                <% elsif question.kind == "fill_in" %>
                    <label for="answers[<%= question.order %>]">Your Answer:</label>
                    <input type="text" name="answers[<%= question.order %>][]" id="answers[<%= question.id %>]">
                    <br>
                <% end %>
                <br>
            <% end %>
        <% end %>
    </ul>
    <button id="submitAnswers">SUBMIT ANSWERS</button>
</form>