<h1>Results Page for <%= @quiz.name %></h1>

<h2>You answers were:</h2>

<ul>
    <% @answers.each do |answer| %>
        <div class="resultcard">
            <h3>Question <%= @counter %>:</h3>
            <% if answer.class == String %>
                <h4>Your answer:</h4>
                <li>
                    <%= answer %>
                </li>
            <% else %>
                <h4>Your answers:</h4>
                <% answer.values.each do |answer| %>
                    <li>
                        <%= answer %>
                    </li>
                <% end %>
            <% end %>
            <% @counter += 1 %>
            <br>    
        </div>
    <% end %>
</ul>

<form action="/users/<%= @user.id %>">
    <p>Return to My Quizzes</p>
    <button>CLICK HERE</button>
</form>
