<main class="container">
    <section class="result_page_header">
        <h1 class="page_title">You scored: <%= @percent%>%</h1>
    </section>
    <section class="result_page_body">
        <% @responses.each_with_index do |response, index| %>
            <div class="
            <% if @responses[index].any?{|r| r.include?(false)} %>
                <%= 'result_card_incorrect' %>
            <% elsif @questions[index].get_correct_answers.length > response.length && @questions[index].kind == "mc_many" %>    
                <%= 'result_card_incorrect' %>
            <% else %>
                <%= 'result_card_correct' %>
            <% end %>
            ">  
                <div class="result_card_title">
                    <h2>Question <%= index + 1%>:</h3>
                    <h4 class="score">Score: <%= @scores[index][0] %> of <%= @scores[index][1]%>    
                </div>
                <h3><%= response.first[0] %></h4>
                <br>
                <h4>You answered:</h5>
                <% one_wrong = false %>
                <% response.each_with_index do |answer, i| %>
                    <div class="answer">
                        <p>
                            <h3><%= answer[1] %></h3> 
                            <%= 'Correct!' if answer[2] == true %><%= 'Incorrect...' if answer[2] == false %>  
                        </p>
                        <% if answer[3] %>
                            <p class="comment"><%= answer[3] %></p>
                        <% end %>
                    </div>
                    <% if answer[2] == false %>
                        <% one_wrong = true %>
                    <% end %>
                        
                <% end %>
                <% if one_wrong == true || @questions[index].get_correct_answers.length > response.length %>
                    <div class="corrections">
                        <p>Correct answers:</p>
                        <ul>
                            <% @correct_answers[index].each do |answer| %>
                                <li>
                                    <%= answer.content %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
            </div>
        <% end %>
    </section>
    <section class="result_page_footer">
        <a href="/users/<%= current_user.id %>">
            <button class="button-green button-lg">Return Home</button>
        </a>
    </section>
</main>

