<main class="container">
    <section class="result_title">
        <h2>You scored: <%= @percent%>%</h2>
    </section>
    <section class="result_cards">
        <% @results.each_with_index do |result, index| %>
            <div class="
            <% if @results[index].any?{|r| r.include?(false)} %>
                <%= 'result_card_incorrect' %>
            <% else %>
                <%= 'result_card_correct' %>
            <% end %>
            ">
                <h3>Question <%= index + 1%>:</h3>
                <br>
                <h4><%= result.first[0] %>:</h4>
                <br>
                <h5>Your answer:</h5>
                <% result.each do |answer| %>
                    <p>
                        <%= answer[1] %>, that answer is <%= 'correct!' if answer[2] == true %><%= 'incorrect...' if answer[2] == false %>  
                    </p>
                <% end %>
                <br>
                <h4>Score: <%= @scores[index][0] %> out of <%= @scores[index][1]%>    
            </div>
        <% end %>
    </section>
    <a href="/users/<%= current_user.id %>">
        <button class="button-green" id="results_return_button">Return Home</button>
    </a>
</main>

