<h1>Results Page for <%= @quiz.name %></h1>

<h2>Your answers were:</h2>

<ul>
    <% @results.each_with_index do |result, index| %>
        <div class="resultcard">
            <h3>Question <%= index + 1%></h3>
            <h4><%= result.first[0] %>:</h4>
            <h5>Your answer:</h5>
            <% result.each do |answer| %>
                <li>
                    <%= answer[1] %>, that answer is <%= answer[2] %> 
                </li>
            <% end %>
            <br>    
        </div>
    <% end %>
</ul>

<form action="/users/<%= current_user.id %>">
    <p>Return to My Quizzes</p>
    <button>CLICK HERE</button>
</form>
