<main class="container">
    <section class="user_home_header">
        <div>
            <p>You are signed in as: <%= current_user.email %></p>
        </div>
        <div>
            <h1 class="page_title">MY QUIZZES</h1>
        </div>
        <div>
            <% if flash.has?(:message) %>
                <p class="flash_message">
                    <%= flash[:message] %>
                </p>
            <% end %>
        </div>
        <div>
            <a href="/quizzes/new">
                <button class="button-green button-lg">Create New Quiz</button>
            </a>
        </div>
    </section>
    <section class="user_home_body">
        <div class="list list_blue">
            <h3>Quizzes You Created:</h3>

            <ul>
            <% if @authored_quizzes.empty? %>
                <p>
                    You have not created any quizzes yet! Start one with the 'Create New Quiz' button above
                </p>
            <% end %>
                <% @authored_quizzes.each do |quiz| %>
                    <li>
                        <a href="/quizzes/<%=quiz.id%>"><%= quiz.name%></a>
                    </li>   
                <% end %>
            </ul>
        </div>
        <div class="list list_purple">
            <h3>Quizzes You Have Access To:</h3>

            <ul>
                <% if @accessible_quizzes.empty? %>
                    <p>
                        Nobody has shared a quiz with you yet!
                    </p>
                <% end %>
            <% @accessible_quizzes.each do |quiz| %>
                <li>
                    <a href="/quizzes/<%= quiz.id %>"><%= quiz.name %></a>, by <%= quiz.author.name %> 
                </li>   
            <% end %>
        </ul>
        </div>
    </section>
    <section class="user_home_footer">
        <div>
            <a href="/quizzes/history">
                <button class="button-yellow">Quiz History</button>
            </a>
        </div>
        <div>
            <a href="/categories">
                <button class="button-yellow">All Public Quizzes</button>
            </a>
        </div>
    </section>
</main>
